@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* common shared styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.para-common {
  color: rgba(39, 39, 39, 0.60);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.btn-common {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 15px 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.title-common {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-heading {
  max-width: 575px;
  margin: 30px auto;
  text-align: center;
}

.text-pink {
  color: #e55473;
  font-size: 30px;
  font-weight: 800;
}

.text-white {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}

/* header related styles */

header {
  background: rgba(229, 84, 115, 0.10);
  margin-bottom: 125px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  max-width: 525px;
  margin-bottom: 30px;
}

.banner-photo img {
  width: 100%;
  vertical-align: middle;
  /* very very important property for image spacing in the bottom */
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}


/* featured section related styles */

#featured {
  margin-bottom: 125px;
}



.section-content {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}


.flower-photo-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 85px 60px 0px;
  margin-bottom: 30px;
}

.flower-photo-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 85px 26px 0px;
  margin-bottom: 30px;
}

.flower-photo-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 50px 55px 0px;
  margin-bottom: 30px;
}

.flower-img-location {
  width: 100%;
  vertical-align: middle;
}

.flower-title {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* hot deal section styles*/

#hotdeal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 125px;
}

.hotdeal-container {
  width: 75%;
  margin: 0px auto;
  padding: 150px 0px;
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: space-between;
}

.hotdeal-text {
  max-width: 445px;
  margin: 0px auto;
  text-align: center;
  /* it is very important to move a button in center via "TAC" property in parent div */
}

.hotdeal-photo img {
  width: 100%;
}


/* insta section styles */

#insta {
  margin-bottom: 125px;
}

.insta-photo-container {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
}

.insta-photo img {
  width: 100%;
}


/* subscribe section styles */
#subscribe {
  margin-bottom: 125px;
}

.subscribe-banner {
  background: url('images/Rectangle 9.png');
  padding: 90px 215px;
}

.subscribe-text {
  max-width: 350px;
  margin: 10px auto;
  text-align: center;
}

.subscribe-form {
  display: flex;
  gap: 12px;
  align-items: center;
  max-width: 850px;
  margin: 10px auto;
}

.email-field {
  width: 500px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 12px;
  font-weight: 400;
}

/* footer related styles */


.footer-container {
  background: #111010;
  max-width: 475px;
  margin: 0 auto;
  padding: 80px 400px;
}

.footer-para {
  color: rgba(255, 255, 255, 0.90);
}

.footer-copy {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 400;
}