@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* common shared styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.para-common {
  color: rgba(39, 39, 39, 0.60);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 36px;
  text-align: center;
}

.btn-common {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 20px 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.title-common {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 18px;
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-heading {
  max-width: 575px;
  margin: 30px auto;
  text-align: center;
}
/* header related styles */
header {
  background: rgba(229, 84, 115, 0.10);
  margin-bottom: 125px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text * {
  max-width: 525px;
  margin-bottom: 30px;
}

.banner-photo img {
  width: 100%;
  vertical-align: middle;
  /* very very important property for image spacing in the bottom */
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}


/* featured section related styles */
#featured {
  margin-bottom: 125px;
}



.section-content {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}


.flower-photo-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 85px 60px 0px;
  margin-bottom: 30px;
}

.flower-photo-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 85px 26px 0px;
  margin-bottom: 30px;
}

.flower-photo-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 50px 55px 0px;
  margin-bottom: 30px;
}

.flower-img-location {
  width: 100%;
  vertical-align: middle;
}

.flower-title {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* hot deal section styles*/

#hotdeal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 125px;
}

.hotdeal-container {
  width: 57%;
  max-width: 825px;
  margin: 0px auto;
  padding: 180px 0px;
  display: flex;
  gap: 140px;
  align-items: center;
  justify-content: space-between;
}

.hotdeal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.hotdeal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.hotdeal-text *{
  max-width: 575px;
  margin: 0px auto;
  text-align: center;
}

.btn-middle{
  text-align: center;
}
.hotdeal-photo img{
  width: 100%;
}


/* insta section styles */
.insta {
  margin-bottom: 128px;
}

.insta-heading {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.insta-flower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta1 {
  background: lightgray 50% / cover no-repeat;
}

/* subscribe section styles */
.subscribe {
  background: url("images/Rectangle 9.png");
  margin: auto;
  margin-bottom: 128px;
}

/* footer related styles */
.footerbottom {
  background: #111010;
  margin: auto;
  padding: 0 120px;
}

.footer-title {
  text-align: center;
}

.pink {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}

.white {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.footer-copy {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}